 body {
 	background-color: rgb(230 , 230 ,230);
    color:rgb(50,50,50);
    font-family: helvetica;
    font-size: 16px ;
 }

 h1,h2 {
 	font-family:'lora' , sans-serif ;
 }

 h1 {
 	color: #03506f ;
 	font-weight: 900;
 	font-size: 32px;
 }

h2 {
	color: #75cfb8;
	font-size: 24xp;
	font-weight: lighter;
	font-weight: 500;
}
a {
	font-family: 'lora' , sans-serif;
	text-decoration: none;
	color:#da9ff9;
	font-weight: 600;
	font-size:16px;
}
a:hover{
	color: black;

}
.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}
.card-white {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

.container{
	width: 700px;
	margin: 40px auto;
}
.card-white {
	background-color: white ;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	margin: 20px auto;
	text-align: center;
  }
.img-circle{
	border-radius: 50% ;
}
.btn-blue{
	background-color:#b4aee8;
	color:white;
	padding: 10px 20px ;
	border-radius: 4px;
}
.btn-blue:hover{
	background-color:black;
	color:white; 

}

.list-inline{
	list-style: none;
	padding-left:0px;
}

.list-inline li {
	display: inline;
	padding:10px; 
}

.list-inline i {
	font-size: 50px;
}

.list-inline i:hover {
	color: black;
}
#introduction p {
	margin-bottom: 40px;
}


@media (max-width: 500px) {
	 .container {
	 	width: 400px;
	 }
}
















